---
- name: set fact
  set_fact:
    cdp_interface: "{{ ansible_facts.cdp.*.port }}"

- debug:
    msg: "{{ cdp_interface }}"
  when: ansible_facts.cdp.[item.local_port.matches.0].port == "nx-osv-1(TB00000000B)"