---
#- set_fact:
#    cdpinterface: "{{ ansible_facts.cisco_ios.cdp }}"

#- debug:
#    msg: "{{ cdp_interface }}"
#  when: ansible_facts.cisco_ios.cdp

- name: render config
  ios_config:
    src: test_cdp.j2
    dest: "{{ inventory_hostname}}.cdp.cfg"